body{
    padding: 8%;
    background-color:rgb(219, 227, 232);
}

img{
    width: 23rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    padding-bottom: 23rem;
    padding-right: 30%;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display: flex;
    align-items: center;
}
.image-colum{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text-column{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}